apiVersion: v1
data:
  mapRoles: |
    - groups:
      - system:bootstrappers
      - system:nodes
      rolearn: arn:aws:iam::498556244344:role/task-3-0-node-group-role
      username: system:node:{{EC2PrivateDNSName}}
    - groups:
      - system:serviceaccount
      rolearn: arn:aws:iam::498556244344:role/github-runner-role
      username: system:serviceaccount:default:github-runner-serviceaccount
kind: ConfigMap
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"v1","data":{"mapRoles":"- groups:\n  - system:bootstrappers\n  - system:nodes\n  rolearn: arn:aws:iam::498556244344:role/task-3-0-node-group-role\n  username: system:node:{{EC2PrivateDNSName}}\n- groups:\n  - system:serviceaccount\n  rolearn: arn:aws:iam::498556244344:role/github-runner-role\n  username: system:serviceaccount:default:github-runner-serviceaccount\n"},"kind":"ConfigMap","metadata":{"annotations":{},"creationTimestamp":"2024-04-14T08:24:47Z","name":"aws-auth","namespace":"kube-system","resourceVersion":"5943","uid":"07864cac-794d-4ebf-9851-9685e1ec7224"}}
  creationTimestamp: "2024-04-14T08:24:47Z"
  name: aws-auth
  namespace: kube-system
  resourceVersion: "7361"
  uid: 07864cac-794d-4ebf-9851-9685e1ec7224
