apiVersion: apps/v1
kind: Deployment
metadata:
  name: m6-app-deployment
  labels:
    app: flask
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      serviceAccountName: github-runner-serviceaccount
      containers:
      - name: m6-app-container
        # image: {{ .Values.app.image.registry }}/{{ .Values.app.image.repository }}:{{ .Values.app.image.tag }}
        image: 498556244344.dkr.ecr.us-east-1.amazonaws.com/cicd_lab:v0.1.2
        imagePullPolicy: Always
        ports:
        - containerPort: 5050
