name: Manual Deployment Approval

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag version to deploy'
        required: true

jobs:
  discord:
    name: discord
    runs-on: ubuntu-latest
    steps:
      - name: Send Workflow URL to Discord
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_RUN_ID: ${{ github.run_id }}
        run: |
          curl -X POST -H "Content-Type: application/json" -d "{\"content\":\"Workflow URL: https://github.com/${GITHUB_REPOSITORY}/actions/runs/${GITHUB_RUN_ID}\"}" $DISCORD_WEBHOOK_URL

  deploy:
    name: deploy
    runs-on: ubuntu-latest
    needs: discord
    steps:
      - name: Wait for Approval
        uses: trstringer/manual-approval@v1
        with:
          secret: ${{ github.TOKEN }}
          approvers: alison-chuang
          minimum-approvals: 1
          exclude-workflow-initiator-as-approver: false
      - name: Deploy to production
        run: echo deploying
