name: Manual Deployment Approval

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag version to deploy'
        required: true

permissions:
  issues: write  # for manual approval to create an issue
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout

jobs:
  send-issue-to-discord:
    name: discord
    runs-on: ubuntu-latest
    steps:
      - name: Send Workflow URL to Discord
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_USER: ${{github.actor}}
          GITHUB_RUN_ID: ${{ github.run_id }}
        run: |
          curl -X POST -H "Content-Type: application/json" -d "{\"content\":\"Workflow URL: https://github.com/${GITHUB_REPOSITORY}/issues\"}" $DISCORD_WEBHOOK_URL

  manual-approval:
    name: manual approval the deployment
    runs-on: ubuntu-latest
    needs: send-issue-to-discord
    steps:
      - name: Wait for Approval
        uses: trstringer/manual-approval@v1
        with:
          secret: ${{ github.TOKEN }}
          approvers: alison-chuang
          minimum-approvals: 1
          exclude-workflow-initiator-as-approver: false

  deploy:
    name: Deploy to EKS
    runs-on: ubuntu-latest
    needs: manual-approval
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.RUNNER_IAM_ROLE }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Update KubeConfig
        run: |
          aws eks update-kubeconfig --region ${{ vars.AWS_REGION }} --name m6-cluster

      - name: Deploy to EKS
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ github.event.repository.name }}
          IMAGE_TAG: ${{ github.event.inputs.tag }}
          DEPLOYMENT_NAME: m6-app-deployment
          CONTAINER_NAME: m6-app-container
        run: |
          kubectl set image deployment/$DEPLOYMENT_NAME $CONTAINER_NAME=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          kubectl rollout status deployment/$DEPLOYMENT_NAME

      # - name: Deploy to EKS via Helm
      #   run: |
      #     helm upgrade --install m6-app \
      #       ./manifest/templates/deployment.yaml \
      #       --set app.image.registry=${{ steps.login-ecr.outputs.registry }} \
      #       --set app.image.repository=${{ github.event.repository.name }} \
      #       --set app.image.tag=${{ github.event.inputs.tag }} \
      #       --debug
