name: CI/CD Pipeline

on:
  push:
    tags:
      - '*'

env:
  ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
  IMAGE_NAME: sample-webapp
  IMAGE_TAG: ${{ github.ref_name }}

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        cd webapp
        pip install -r requirements.txt

    - name: set pythonpath
      run: echo "PYTHONPATH=$(pwd)" >> $GITHUB_ENV

    - name: Test with pytest
      run: pytest

    - name: Build Docker image
      run: |
        echo ${{ github.ref_name }}
        cd webapp
        docker build -t $REGISTRY/$REPOSITORY:$IMAGE_TAG .

    - name: Scan image for vulnerabilities
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: '$REGISTRY/$REPOSITORY:$IMAGE_TAG'
        exit-code: '1'
        ignore-unfixed: true
        vuln-type: 'os,library'
        severity: 'CRITICAL,HIGH'

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        # aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        # aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        role-to-assume: arn:aws:iam::498556244344:role/github-runner-role
        aws-region: us-east-1

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Push image to Amazon ECR
      if: success()
      run: docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG
