name: Terraform CI - Push

on:
  push:
    branches:
      - task-6-2
  workflow_dispatch:

jobs:
  validate:
    defaults:
      run:
        working-directory: "tasks/task-6-2/src"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        run: terraform init

      - name: Terraform Validate
        id: validate
        run: terraform validate
