name: Terraform CI - Deploy

on:
  push:
    branches:
      - main
      - dev
  workflow_dispatch:

permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout

jobs:
  send-issue-to-discord:
    runs-on: ubuntu-latest
    steps:       
      - name: Send Workflow URL to Discord
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_USER: ${{github.actor}}
          GITHUB_RUN_ID: ${{ github.run_id }}
        run: |
          curl -X POST -H "Content-Type: application/json" -d "{\"content\":\"Workflow URL: https://github.com/${GITHUB_REPOSITORY}/actions/runs/${{ github.run_id }}"}" $DISCORD_WEBHOOK_URL

  manual-approval:
    name: manual approval the deployment
    runs-on: ubuntu-latest
    needs: send-issue-to-discord
    steps:
      - name: Wait for Approval
        uses: trstringer/manual-approval@v1
        with:
          secret: ${{ github.TOKEN }}
          approvers: alison-chuang
          minimum-approvals: 1
          exclude-workflow-initiator-as-approver: false

  deploy:
    runs-on: ubuntu-latest
    needs: manual-approval
    defaults:
      run:
        working-directory: 'task-6-2/terraform'
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        id: init
        run: terraform init

      - name: Terraform Validate
        id: validate
        run: terraform validate

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.RUNNER_IAM_ROLE }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Terraform Plan
        id: plan
        run: terraform plan -no-color

      - name: Terraform Apply
        if: success()
        run: terraform apply -auto-approve -no-color
